<header>
    <h1>California Weather Now</h1>
    <p>An <a href="https://github.com/mcmlxxxiii/Assembly.js" class="underlined">Assembly.js</a> demo application</p>

    <ul data-role="menu" class="menu">
        <li data-menu-section="home"><a data-role="app-link" href="<%= $$$.linkTo('home') %>">Home</a></li>
        <li data-menu-section="cities"><a data-role="app-link" href="<%= $$$.linkTo('cities') %>">Cities</a></li>
        <li data-menu-section="links"><a data-role="app-link" href="<%= $$$.linkTo('page', 'links') %>">Links</a></li>
        <!--<li><a data-role="app-link" href="#/lost">Lost page</a></li> -->
    </ul>
</header>

<section>
    <h1><span></span> <small></small></h1>
    <div></div>
</section>
